.form-services{
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 0.9rem;
    max-width: 470px;
    padding: 2rem;
}
.form-services__align-button{
    display: flex;
    justify-content: space-around;
}